OPENAI_API_KEY=""

# LANGFUSE
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""

# EMAIL DELIVERY
SEND_EMAIL=false
RESEND_API_KEY=""
JOB_AGENT_RECIPIENT_EMAIL=""
JOB_AGENT_SENDER_EMAIL=""
